:root {
  --font-color: #5c5c5c;
  --accent-color: #c04836;

  /* Background */
  --bkg-color-primary: #a7a8ac;
  --bkg-shadow-down: 0 -2px 1px rgba(0, 0, 0, 0.4),
    0 2px 1px rgba(255, 255, 255, 0.2);
  --bkg-shadow-up: inset 0 -5px 1px rgba(0, 0, 0, 0.4),
    inset 0 2px 1px rgba(255, 255, 255, 0.2);
  --bkg-color-secondary: #d8d5ce;

  /* Panel */
  --panel-color: linear-gradient(
    165deg,
    #f1fcf7 0%,
    #e7eeeb 49%,
    #e0e5e3 50%,
    #d4e0db 100%
  );
  --panel-shadow-down: inset 0 4px 1px rgba(0, 0, 0, 0.4);
  --panel-shadow-inner: inset 0 10px 5px rgba(0, 0, 0, 0.2);

  /* Dial */
  --dial-color: #5c5d5f;
  --dial-shadow-up: inset 0 2px 1px rgba(255, 255, 255, 0.1),
    inset 0 -3px 1px rgba(0, 0, 0, 0.4);
  --dial-shadow-outter: 0 5px 6px rgba(0, 0, 0, 0.4),
    0 12px 5px rgba(0, 0, 0, 0.2);

  /* Btn */
  --btn-color: #f1f2f2;
  --btn-color-up: linear-gradient(0deg, #e5e5e6, #f3f4f4);
  --btn-color-down: linear-gradient(180deg, #e5e5e6, #f3f4f4);
  --btn-shadow-up: inset 0 2px 1px rgba(255, 255, 255, 0.4),
    inset 0 -3px 1px rgba(0, 0, 0, 0.4);
  --btn-shadow-outter: 0 6px 5px rgba(0, 0, 0, 0.4),
    0 12px 5px rgba(0, 0, 0, 0.2);

  /* Slider */
  --slider-color: #c54a27;
  --slider-slot-color: #414141;
  --slider-slot-shadow: inset 0 4px 1px rgba(0, 0, 0, 0.5),
    inset 0 5px 5px rgba(0, 0, 0, 0.2);

  /* LCD */
  --lcd-color: linear-gradient(
    165deg,
    #cbcfbd 0%,
    #bbbeae 49%,
    #b3b7a6 50%,
    #a8ac9c 100%
  );
  --lcd-shadow-down: inset 0 4px 1px rgba(0, 0, 0, 0.2);
  --lcd-font-color: rgba(0, 0, 0, 0.4);
  --lcd-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  overflow-y: auto;
  background: var(--bkg-color-secondary);
  background-image: url("../images/bkg-tile.png");
  background-size: 60%;
}

li {
  list-style-type: none;
  font-weight: 600;
  white-space: nowrap;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
}

h2 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

h3 {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.container {
  min-height: 100%;
  max-width: 900px;
  position: relative;
  margin: 0 auto;
  padding: 3rem 3rem 3rem 6rem;
  background: var(--bkg-color-primary);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.253);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  grid-template-areas:
    "container-score container-choice-comp"
    "container-result container-choice-user"
    "container-input container-jack";
  overflow: auto;
}

.container-score {
  grid-area: container-score;
}

.container-result {
  grid-area: container-result;
}

.container-choice-comp {
  grid-area: container-choice-comp;
}

.container-choice-user {
  grid-area: container-choice-user;
}

.container-input {
  grid-area: container-input;
}

.container-jack {
  grid-area: container-jack;
}

/* Score */
.container-score {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
  align-items: center;
  grid-template-areas:
    "comp-score slider-slot-comp"
    ". numbers-txt"
    "user-score slider-slot-user";
}

.comp-score-txt {
  grid-area: comp-score;
}

.user-score-txt {
  grid-area: user-score;
}

#slider-slot-comp {
  grid-area: slider-slot-comp;
}

#slider-slot-user {
  grid-area: slider-slot-user;
}

.numbers-txt {
  grid-area: numbers-txt;
}

.slider-slot {
  height: 0.9rem;
  display: flex;
  padding: 0 12.5%;
  background: var(--slider-slot-color);
  box-shadow: var(--slider-slot-shadow);
}

.container-slider {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.slider {
  position: absolute;
  left: 0;
  height: 0.8rem;
  width: 0.4rem;
  background: var(--accent-color);
  background: var(--slider-color);
  transform: translateX(-50%);
  transition: left 500ms ease-in-out;
}

.slider-1 {
  left: 33%;
}

.slider-2 {
  left: 66%;
}

.slider-3 {
  left: 100%;
}

.container-score h2 {
  text-align: left;
  opacity: 0.75;
}

.container-score ul {
  display: flex;
  justify-content: space-around;
}

.container-score li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: var(--accent-color);
  opacity: 0.75;
}

/* LCD */
.container-result {
  display: flex;
  padding: 2rem;
}

.lcd {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--lcd-color);
  box-shadow: var(--lcd-shadow-down), var(--panel-shadow-inner);
  overflow: hidden;
}

.lcd-txt {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(2, 1fr);
  align-items: center;
}

.lcd-txt li {
  font-family: "VT323", monospace;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--lcd-font-color);
  text-shadow: var(--lcd-text-shadow);
  overflow: hidden;
}

#icon-battery {
  font-size: 1.1rem;
  justify-self: end;
}

/* Dials */
.container-choice-comp,
.container-choice-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container-choice-comp h2,
.container-choice-user h2 {
  margin-top: 2rem;
}

.container-dial {
  position: relative;
  display: flex;
  align-items: center;
  padding: 32px 32px 0 32px;
}

.container-dial ul {
  display: flex;
}

.container-dial li {
  position: absolute;
  display: flex;
  font-size: 1rem;
  -webkit-text-stroke: 0.4px;
}

#icon-rock {
  top: 61%;
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}

#icon-paper {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#icon-scissors {
  top: 61%;
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.icon-color {
  color: var(--accent-color);
  opacity: 0.9;
}

/* Input */
.container-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-btn ul {
  display: flex;
}

.container-btn li {
  width: 76px;
  display: flex;
  justify-content: center;
}

.container-jack {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#icon-headphones {
  font-size: 1rem;
  -webkit-text-stroke: 0.4px;
}

/* Utilities */
.panel {
  background: var(--panel-color);
  box-shadow: var(--panel-shadow-down), var(--panel-shadow-inner);
}

.hr-line {
  width: 100%;
  height: 3px;
  position: absolute;
  top: 69%;
  background: #5a5a5a;
  box-shadow: var(--bkg-shadow-down);
}

.btn {
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transform: translateY(-3px);
  transition: transform 50ms ease-in-out;
  border-radius: 4px;
  background: var(--btn-color-up);
  box-shadow: var(--btn-shadow-up), var(--btn-shadow-outter);
}

.btn:hover {
  transform: translateY(0);
  box-shadow: var(--btn-shadow-up);
  cursor: pointer;
}

.btn-inner {
  width: 75%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--btn-color-down);
}

.btn-slot {
  display: flex;
  margin-bottom: 2rem;
  border: 1px solid #111;
  border-radius: 7px;
  background: #111;
  box-shadow: var(--bkg-shadow-down);
}

.dial {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 50%;
  background: var(--dial-color);
  box-shadow: var(--dial-shadow-up), var(--dial-shadow-outter);
}

.dial-rotate {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  background: transparent;
  transition: transform 500ms ease-in-out;
}

.dial-rotate-rock {
  transform: rotate(90deg);
}

.dial-rotate-paper {
  transform: rotate(180deg);
}

.dial-rotate-scissors {
  transform: rotate(270deg);
}

.dial-slot {
  display: flex;
  border: 1px solid #111;
  border-radius: 50%;
  background: #111;
  box-shadow: var(--bkg-shadow-down);
}

.icon-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--accent-color);
}

.icon-rectangle {
  width: 5px;
  height: 28px;
  background: var(--btn-color);
}

.jack {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 50%;
  background: var(--dial-color);
  box-shadow: var(--dial-shadow-up);
}

.jack-inner {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  transform: rotate(45deg);
}

.jack-slot {
  display: flex;
  margin-bottom: 2.6rem;
  border: 1px solid #111;
  border-radius: 50%;
  background: #111;
  box-shadow: var(--bkg-shadow-down);
}

.rectangle-vertical {
  grid-column: span 3;
  width: 5px;
  height: 10px;
  padding: 0 auto;
  border-radius: 5px;
  background: #111;
}

.rectangle-horizontal {
  grid-column: span 1;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: #111;
}

.rectangle-45deg {
  grid-column: span 1;
  width: 10px;
  height: 5px;
  padding: 0 auto;
  border-radius: 5px;
  background: #111;
  transform: rotate(45deg);
}

/* Media queries */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 2rem 15%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2rem;
    grid-template-areas:
      "container-score container-score"
      "container-result container-result"
      "container-choice-comp container-choice-user"
      "container-input container-input";
  }

  .container-jack {
    display: none;
  }

  .hr-line {
    top: 75%;
  }

  .container-score {
    padding: 1rem 2rem;
  }

  .container-result {
    padding: 1rem 2rem;
  }

  .lcd-txt li {
    font-size: 1.75rem;
  }

  .container-choice-comp h2,
  .container-choice-user h2 {
    margin-top: 1rem;
  }

  .container-choice-comp {
    justify-self: start;
  }

  .container-choice-user {
    justify-self: end;
  }

  .container-dial {
    padding: 24px 24px 0 24px;
  }

  .container-btn li {
    width: 65px;
  }

  .btn {
    width: 65px;
    height: 65px;
  }

  .btn-slot {
    margin-bottom: 16px;
  }

  .dial {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 0.9rem;
  }

  li {
    font-size: 0.9rem;
  }

  .container {
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    padding: 1rem 10%;
  }

  .container-score {
    padding: 1rem;
  }

  .container-score li {
    font-size: 0.9rem;
  }

  .container-result {
    padding: 1rem;
  }

  .lcd {
    padding: 0.5rem 1rem;
  }

  #icon-battery {
    font-size: 0.9rem;
  }

  .container-dial li {
    font-size: 0.9rem;
    -webkit-text-stroke: 0.4px;
  }

  .hr-line {
    top: 76.8%;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 1rem 5%;
  }

  .lcd-txt li {
    font-size: 1.6rem;
  }
}

@media (max-height: 640px) {
  .hr-line {
    top: 76.8%;
  }

  .container-choice-comp h2,
  .container-choice-user h2 {
    margin-top: 0.76rem;
  }

  .btn-slot {
    margin-bottom: 0.75rem;
  }

  .dial {
    width: 65px;
    height: 65px;
  }
}

@media (max-height: 568px) {
  .hr-line {
    display: none;
  }
}

@media (min-height: 900px) {
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .container {
    max-width: 1100px;
    padding: 4rem 4rem 4rem 8rem;
    gap: 4rem;
  }

  .container-score {
    padding: 2.5rem;
  }

  .slider-slot {
    height: 1.2rem;
  }

  .slider {
    height: 1.1rem;
    width: 0.55rem;
  }

  .container-score li {
    font-size: 1.2rem;
  }

  .container-result {
    padding: 2.5rem;
  }

  .lcd {
    padding: 0.75rem 1.25rem;
  }

  .lcd-txt li {
    font-size: 2.5rem;
  }

  #icon-battery {
    font-size: 1.4rem;
  }

  .container-choice-comp h2,
  .container-choice-user h2 {
    margin-top: 2.5rem;
  }

  .container-dial {
    padding: 40px 40px 0 40px;
  }

  .container-dial li {
    font-size: 1.2rem;
  }

  .container-btn li {
    width: 90px;
    font-size: 1.2rem;
  }

  #icon-headphones {
    font-size: 1.2rem;
  }

  .hr-line {
    height: 4px;
  }

  .btn {
    width: 90px;
    height: 90px;
  }

  .btn-slot {
    margin-bottom: 2.5rem;
  }

  .dial {
    width: 105px;
    height: 105px;
  }

  .icon-circle {
    width: 20px;
    height: 20px;
  }

  .icon-rectangle {
    width: 6px;
    height: 34px;
  }

  .jack {
    width: 60px;
    height: 60px;
  }

  .jack-slot {
    margin-bottom: 3rem;
  }
}

@media (min-height: 1100px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  .container {
    max-width: 1300px;
    padding: 4.5rem 4.5rem 4.5rem 9rem;
    gap: 4rem;
  }

  .container-score {
    padding: 2.7rem;
  }

  .slider-slot {
    height: 1.5rem;
  }

  .slider {
    height: 1.4rem;
    width: 0.7rem;
  }

  .container-score li {
    font-size: 1.5rem;
  }

  .container-result {
    padding: 2.7rem;
  }

  .lcd {
    padding: 0.9rem 1.4rem;
  }

  .lcd-txt li {
    font-size: 3rem;
  }

  #icon-battery {
    font-size: 1.6rem;
  }

  .container-choice-comp h2,
  .container-choice-user h2 {
    margin-top: 2.6rem;
  }

  .container-dial {
    padding: 50px 50px 0 50px;
  }

  .container-dial li {
    font-size: 1.5rem;
  }

  .container-btn li {
    width: 110px;
    font-size: 1.5rem;
  }

  #icon-headphones {
    font-size: 1.5rem;
  }

  .hr-line {
    height: 5px;
  }

  .btn {
    width: 110px;
    height: 110px;
  }

  .btn-slot {
    margin-bottom: 2.6rem;
  }

  .dial {
    width: 125px;
    height: 125px;
  }

  .icon-circle {
    width: 24px;
    height: 24px;
  }

  .icon-rectangle {
    width: 8px;
    height: 40px;
  }

  .jack {
    width: 70px;
    height: 70px;
  }

  .jack-slot {
    margin-bottom: 3.2rem;
  }
}
